<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Captura de Video</title>
    </head>
    <body>
        <div>
            <h1>Local Video Streaming</h1>
            <img src="{{ url_for('video_local_stream') }}" alt="Video Stream">
        </div>
        <br />
        <div>
            <h1>IP Camera Video Streaming</h1>
            <img src="{{ url_for('video_ip_camera_stream') }}" alt="Video Stream">
        </div>
    </body>
</html>
